*{
    margin: 0%;
    padding: 0;
    color: aliceblue;
}


body{
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: 100vh 100vh;

}

.txt-center{
    text-align: center;
}


.login-box{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.login-box form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 70%;
}
.login-box form input{
    width: 40%;
    height: 6vh;
    border-radius: 20vh;
    background-color: transparent;
    border: 2px solid wheat;
    
}
.login-box form input::placeholder{
    margin-left: 50vh;
    color: whitesmoke;
    text-align: center;
    width: 100%;
}
#login-btn{
    width: 20%;
    /* background-color: aqua; */
}
.g-auth{
    background-color: aliceblue;
    color: black;
    width: 20%;
    height: 10%;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5rem;
    padding: 0%;
    margin: 0%;
}
.signup-link{
    font-size: 1.3rem;
    color: white
}